[submodule "ext/nanogui_/nanogui"]
	path = ext/nanogui_/nanogui
	url = https://github.com/latproc/nanogui
	branch = wip
[submodule "lib/clockwork.git"]
	path = lib/clockwork.git
	url = git@github.com:latproc/libclockwork.git
